<lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cửa Hàng Sữa</title>
    <link rel="stylesheet" href="/css/giaodienbase.css">
    <link rel="stylesheet" href="/css/giaodienmain.css">
    <link rel="stylesheet" href="/css/cart-item.css">
    <link rel="stylesheet" href="/font/fontawesome-free-6.4.0-web/css/all.css">
    <link rel="stylesnameheet" href="/font/themify-icons-font (1)/themify-icons/themify-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>

   
        <header class="header">
            <div class="grid">
                <nav class="header_nav ">
                    <ul class="header_nav-list ">
                        <li class="header_nav-item header_nav-item-hasQR header_nav-item-separate"> Vào Cửa Hàng Quán Sữa
                            <!-- <div class="header_nav-QR">
                               <img src="/img/img/QR_code.png" alt="QR_code" class="header_nav-img">
                               <div class="header_nav-QR-apps">
                                <a href="" class="header_nav-QR-link">
                                    <img src="/img/img/GooglePlay.png "alt="Google Play" class="header_nav-QR-dow-img">
                                </a>
                                <a href="" class="header_nav-QR-link"> 
                                    <img src="/img/img/Appstore.png" alt="App Store" class="header_nav-QR-dow-img">
                                </a>
                               </div>
                            </div> -->
                        </li>
                        <li class="header_nav-item"> 
                            <span class="header_nav_item-nopointer">Kết Nối</span> 
                            <a href="https://www.facebook.com/gavl2k3" class="header_nav-icon">
                                <!-- <i class="header_nav-icon-link ti-facebook"></i> -->
                                <i class="fa-brands fa-facebook header_nav-icon-link"></i>
                            </a>
                            <a href="https://www.instagram.com/anhhnfe_108/?theme=dark" class="header_nav-icon">
                                <!-- <i class="header_nav-icon-link ti-instagram"></i> -->
                                <i class="fa-brands fa-instagram header_nav-icon-link"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="header_nav-list ">
                        <li class="header_nav-item">
                            <a href="" class="header_nav-item-list">
                            <a href="" class="header_nav-icon"></a>
                                <i class="header_nav-icon-link ti-bell"></i>
                             Thông Báo
                            </a>
                            <div class="header_notify">
                                <header class="header_notify-header">
                                    <h3> Thông Báo Mới Nhận</h3>
                                </header>
                                <div class="header_notify-list">
                                    <div class="header_notify-item">
                                        <a href="" class="header_notify-link">
                                            <span>
                                                <img src="/img/ensure.webp" alt="" class="header_notify-img">
                                            </span>
                                            <div class="header_notify-info">
                                                <p class="header_notify-name">
                                                    Tặng ngay 1 lon khi mua 3 lon
                                                </p>
                                                <p class="header_notify-descriotion">
                                                    Khuyến Mãi Siêu Hot
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="header_notify-list">
                                    <div class="header_notify-item">
                                        <a href="" class="header_notify-link">
                                            <span>
                                                <img src="/img/ensure.webp" alt="" class="header_notify-img">
                                            </span>
                                            <div class="header_notify-info">
                                                <p class="header_notify-name">
                                                    Tặng ngay 1 lon khi mua 3 lon
                                                </p>
                                                <p class="header_notify-descriotion">
                                                    Khuyến Mãi Siêu Hot
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="header_notify-list">
                                    <div class="header_notify-item">
                                        <a href="" class="header_notify-link">
                                            <span>
                                                <img src="/img/ensure.webp" alt="" class="header_notify-img">
                                            </span>
                                            <div class="header_notify-info">
                                                <p class="header_notify-name">
                                                    Tặng ngay 1 lon khi mua 3 lon
                                                </p>
                                                <p class="header_notify-descriotion">
                                                    Khuyến Mãi Siêu Hot
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="header_notify-list">
                                    <div class="header_notify-item">
                                        <a href="" class="header_notify-link">
                                            <span>
                                                <img src="/img/ensure.webp" alt="" class="header_notify-img">
                                            </span>
                                            <div class="header_notify-info">
                                                <p class="header_notify-name">
                                                    Tặng ngay 1 lon khi mua 3 lon
                                                </p>
                                                <p class="header_notify-descriotion">
                                                    Khuyến Mãi Siêu Hot
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                         
                                <footer class="header_notify-footer">
                                    <a class="header_notify-footer-btn">
                                        Xem Tất Cả
                                    </a>
                                </footer>
                            </div>
                        </li>
                        <li class="header_nav-item">
                            <a href="" class="header_nav-item-list">
                            <a href="" class="header_nav-icon"></a>
                                <i class="header_nav-icon-link ti-help-alt"></i>
                            Trợ Giúp</a>
                        </li>
                        <span class="admin  header_nav-item" style="color: black;">
                            <i class="fa-solid fa-user"></i>
                            
                            <ul class="menu-list">
                               <button class="Customers" > <a href="/">Đăng Xuất</a>
                               </button> 
                            </ul>
                        </span>
                    </ul>
                </nav>

                <div class="header-withs-search">
                    <div class="header__logo">
                      Bibo Mart 
                    </div>
                    <div class="header__search">
                        <div class="header__search-input-warp">
                            <input type="text" class="header__search-input" placeholder="Nhập Để Tìm Kiếm Sản Phẩm">
                            <div class="header__search-history">
                                <h3 class="header__search-history-heading">
                                    Lịch Sử Tìm Kiếm
                                </h3>
                                <ul class="header__search-history-list">
                                    <li class="header__search-history-item">
                                        <a href="">Sữa Ông Thọ</a>
                                    </li>
                                    <li class="header__search-history-item">
                                        <a href="">Sữa Ensure</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="header__search-selection">
                            <!-- <span class="header__search-selection-lable">Trong Shop</span>
                            <i class="header__search-selection-icon fa-solid fa-chevron-down"></i> -->

                            <!-- <ul class="header__search-option">
                                <li class="header__search-option-item">
                                    <span class="header__search-option-btn">Trong Shop </span>
                                    <i class="header__search-option-icon fa-solid fa-check"></i>
                                </li>
                                <li class="header__search-option-item">
                                    <span class="header__search-option-btn">Ngoài Shop </span>
                                    <i class="header__search-option-icon fa-solid fa-check"></i>
                                </li>
                            </ul>
                             -->
                        </div>
                        <button class="header__search-btn">
                            <i class="header__search-btn-icon fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                    <form action="/cart-item" method="GET">
                        <button class="header__Cart">
                            <div class="header__Cart-wrap">
                                        <span class="number-cart" id="cart-count">0</span>
                                        <i class="header__Cart-icon fas fa-cart-shopping"></i>
                                    </div>
                        </button>
                    </form>
                </div>
            </div>
            <div class="Notification-cart">
                Bạn Đã Thêm Mặt Hàng này vào giỏ hàng !!!
            </div>
            
        </header>
        <div class="container">
            <div class="main">
                <div class="header-bar">
                    <h2 class="headding">Giỏ hàng </h2>
                </div>
                <table border="1" class="shopping-cart">
                    <tr class="row-title">
                        <th>id</th>
                        <th>Tên Sữa</th>
                        <th>Giá</th>
                        <th>Loại Sữa</th>
                        <th>Trọng Lượng</th>
                        <th>Tên Sản Phẩm</th>
                        <th>Số Lượng</th>
                        <th>Thành Tiền</th>
                    
                   
                    </tr>
                    <% listAdmins.forEach(function(Admin,index) { %>
                    <tr class="row">
                       <td> <%= Admin.id %> </td>
                        <td><%= Admin.tensua %></td>
                        <td><%= Admin.giatien%></td>
                        <td><%= Admin.loaisua %></td>
                        <td><%= Admin.trongluong %></td>
                        <td><%= Admin.tensanpham %></td>
                        <td><%= Admin.sl %></td>
                        <td><%= Admin.thanhtien %></td>
                  
                        
                    </tr>
                    <% }); %>
                    <tr>
                        <th colspan="7">TỔNG TIỀN</th>
                        <th class="row"><span id="grandTotal">0 đ</span></th>
                    </tr>
                
                </table>
            </div>
        </div>
    
</body>
</html>
