<lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cửa Hàng Sữa</title>
    <link rel="stylesheet" href="/css/giaodienbase.css">
    <link rel="stylesheet" href="/css/giaodienmain.css">
    <link rel="stylesheet" href="/css/listCutormers.css">
    <link rel="stylesheet" href="/font/fontawesome-free-6.4.0-web/css/all.css">
    <link rel="stylesnameheet" href="/font/themify-icons-font (1)/themify-icons/themify-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <header class="header">
        <div class="grid">
            <nav class="header_nav ">
                <ul class="header_nav-list ">
                    <li class="header_nav-item header_nav-item-hasQR header_nav-item-separate"> Vào Cửa Hàng Sữa
                        <!-- <div class="header_nav-QR">
                           <img src="/img/img/QR_code.png" alt="QR_code" class="header_nav-img">
                           <div class="header_nav-QR-apps">
                            <a href="" class="header_nav-QR-link">
                                <img src="/img/img/GooglePlay.png "alt="Google Play" class="header_nav-QR-dow-img">
                            </a>
                            <a href="" class="header_nav-QR-link"> 
                                <img src="/img/img/Appstore.png" alt="App Store" class="header_nav-QR-dow-img">
                            </a>
                           </div>
                        </div> -->
                    </li>
                    <li class="header_nav-item"> 
                        <span class="header_nav_item-nopointer">Kết Nối</span> 
                        <a href="https://www.facebook.com/gavl2k3" class="header_nav-icon">
                            <!-- <i class="header_nav-icon-link ti-facebook"></i> -->
                            <i class="fa-brands fa-facebook header_nav-icon-link"></i>
                        </a>
                        <a href="https://www.instagram.com/anhhnfe_108/?theme=dark" class="header_nav-icon">
                            <!-- <i class="header_nav-icon-link ti-instagram"></i> -->
                            <i class="fa-brands fa-instagram header_nav-icon-link"></i>
                        </a>
                    </li>
                </ul>
                <ul class="header_nav-list ">
                    <li class="header_nav-item">
                        <a href="" class="header_nav-item-list">
                        <a href="" class="header_nav-icon"></a>
                            <i class="header_nav-icon-link ti-bell"></i>
                         Thông Báo
                        </a>
                        <div class="header_notify">
                            <header class="header_notify-header">
                                <h3> Thông Báo Mới Nhận</h3>
                            </header>
                            <div class="header_notify-list">
                                <div class="header_notify-item">
                                    <a href="" class="header_notify-link">
                                        <span>
                                            <img src="/img/ensure.webp" alt="" class="header_notify-img">
                                        </span>
                                        <div class="header_notify-info">
                                            <p class="header_notify-name">
                                                Tặng ngay 1 lon khi mua 3 lon
                                            </p>
                                            <p class="header_notify-descriotion">
                                                Khuyến Mãi Siêu Hot
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="header_notify-list">
                                <div class="header_notify-item">
                                    <a href="" class="header_notify-link">
                                        <span>
                                            <img src="/img/ensure.webp" alt="" class="header_notify-img">
                                        </span>
                                        <div class="header_notify-info">
                                            <p class="header_notify-name">
                                                Tặng ngay 1 lon khi mua 3 lon
                                            </p>
                                            <p class="header_notify-descriotion">
                                                Khuyến Mãi Siêu Hot
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="header_notify-list">
                                <div class="header_notify-item">
                                    <a href="" class="header_notify-link">
                                        <span>
                                            <img src="/img/ensure.webp" alt="" class="header_notify-img">
                                        </span>
                                        <div class="header_notify-info">
                                            <p class="header_notify-name">
                                                Tặng ngay 1 lon khi mua 3 lon
                                            </p>
                                            <p class="header_notify-descriotion">
                                                Khuyến Mãi Siêu Hot
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="header_notify-list">
                                <div class="header_notify-item">
                                    <a href="" class="header_notify-link">
                                        <span>
                                            <img src="/img/ensure.webp" alt="" class="header_notify-img">
                                        </span>
                                        <div class="header_notify-info">
                                            <p class="header_notify-name">
                                                Tặng ngay 1 lon khi mua 3 lon
                                            </p>
                                            <p class="header_notify-descriotion">
                                                Khuyến Mãi Siêu Hot
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                     
                            <footer class="header_notify-footer">
                                <a class="header_notify-footer-btn">
                                    Xem Tất Cả
                                </a>
                            </footer>
                        </div>
                    </li>
                    <li class="header_nav-item">
                        <a href="" class="header_nav-item-list">
                        <a href="" class="header_nav-icon"></a>
                            <i class="header_nav-icon-link ti-help-alt"></i>
                        Trợ Giúp</a>
                    </li>
                    <div class=" header_nav-item admin">
                        <i class="fa-regular fa-user"></i>
                        ADMIN
                        <i class="fa-solid fa-bars menu-icon"></i>
                        <ul class="menu-list">
                            <form action="/listCustomers" method="GET" id="listCustomers">
                                <button type="submit" class="Customers">Danh Sách Khách Hàng</button>
                            </form>
                            <form action="/listMilk" method="GET">

                                <button class="Customers">Danh Sách Các Mặt Hàng Sữa</button>
                            </form>
                           <button class="Customers" > <a href="/">Đăng Xuất</a>
                           </button> 
                        </ul>
                    </div>
                        <!-- <ul class="menu-quanli">
                        </ul> -->
                       
                </ul>
            </nav>

            <div class="header-withs-search">
                <div class="header__logo">
                  Bibo Mart 
                </div>
                <div class="header__search">
                    <div class="header__search-input-warp">
                        <input type="text" class="header__search-input" placeholder="Nhập Để Tìm Kiếm Sản Phẩm">
                        <div class="header__search-history">
                            <h3 class="header__search-history-heading">
                                Lịch Sử Tìm Kiếm
                            </h3>
                            <ul class="header__search-history-list">
                                <li class="header__search-history-item">
                                    <a href="">Sữa Ông Thọ</a>
                                </li>
                                <li class="header__search-history-item">
                                    <a href="">Sữa Ensure</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header__search-selection">
                        <!-- <span class="header__search-selection-lable">Trong Shop</span>
                        <i class="header__search-selection-icon fa-solid fa-chevron-down"></i> -->

                        <ul class="header__search-option">
                            <li class="header__search-option-item">
                                <span class="header__search-option-btn">Trong Shop </span>
                                <i class="header__search-option-icon fa-solid fa-check"></i>
                            </li>
                            <li class="header__search-option-item">
                                <span class="header__search-option-btn">Ngoài Shop </span>
                                <i class="header__search-option-icon fa-solid fa-check"></i>
                            </li>
                        </ul>
                        
                    </div>
                    <button class="header__search-btn">
                        <i class="header__search-btn-icon fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <div class="header__Cart">
                    <div class="header__Cart-wrap">
                        <i class="header__Cart-icon fas fa-cart-shopping"></i>
                      
                        <div class="header__Cart-list header__Cart-list--no-cart">
                            <!-- <img src="assets/img/QR_code.png" alt="" class="header__Cart-no-cart-img"> -->
                            <span class="header__Cart-list-no-cart-msg">
                                Chưa Có Sản Phẩm
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </header>
    <!-- <div class="container-manager-customer">    -->
        <div class="customer-content">
            <div class="header-bar">
                <h2 class="customer-headding">Danh Các Mặt Hàng Sữa</h2>
                <!-- <input type="text" name="seach" class="bar-seach" placeholder="Tìm Kiếm" required=""> -->
            </div>
            <table border="1" class="customer-table">
                <tr class="customer-title">
                    <!-- <th class="distance">ID</th> -->
                    <th class="distance">Tên Sữa</th>
                    <th class="distance">Giá Tiền</th>
                    <th class="distance">Loại Sữa</th>
                    <th class="distance">Trọng Lượng</th>
                    <th class="distance">Acction</th>
                </tr>
                <% listMilk.forEach(function(Milk) { %>
                    <tr class="customer-infor">
                        <td class="distance-infor"><%= Milk.tensua%></td>
                        <td class="distance-infor"><%= Milk.giatien%></td>
                        <td class="distance-infor"><%= Milk.loaisua%></td>
                        <td class="distance-infor"><%= Milk.trongluong%></td>
                        <!-- <td class="distance-infor"><%= Milk.password%></td> -->
                        <td class="distance-infor">
                            <button class="edit">Sửa</button>
                            <button class="delete">Xóa</button>
                        </td>
                        
                    </tr>
                    <% }); %>
           
               
            </table>

        </div>

    <!-- </div> -->
</body>
</html>
